/* Header */
.header {
background-color: #fff;
border-bottom: 2px solid #f5f5f5;
}

/* Navbar */
.navbar {
    padding: 0;
    height: 80px;
}

.navbar-brand {
    background-color: hsl(30, 100%, 75%);
    padding: 25px 20px;
    color: #fff;
}

/* Link bars */
.nav-link + .nav-link:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -7px;
    height: 14px;
    border-left: 1px solid #ccc;
}

.nav-link {
    position: relative;
    color: #6c757d
}

img:hover {
    opacity: 0.5;
    cursor: pointer;
}

.page-footer {
    /* bottom: 0; */
    /* width: 100%; */
    /* height: 60px; */
    /* line-height: 50px; */
    background-color: #eee;
}

/* .copyright {
    color: #6c757d;
} */

.container {
    /* width: 400px; */
    /* max-width: 1500px; */
    /* width: 100%; */
}

h1:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #eee;
}

.about {
    width: 700px;
    background-color: hsl(204, 100%, 97%);
    padding: 20px;
    margin-top: 15px;
    border: 1px solid gold;
}