.navbar {    
}

.navbar-brand {
    
}

.portfolio-block.block-intro {
    text-align: center;
    padding: 100px 0;
    border: 2px solid black;
}

.avatar {
    background-image: url(../img/avatar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    margin: auto;
    border-radius: 100px;
    margin-bottom: 30px;
}

.portfolio-block.block-intro .about-me {
    
}

.page-footer {
    background-color: #eee;
}

/* .nav-link + .nav-link:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -7px;
    height: 14px;
    border-left: 1px solid #ccc;
} */

/* h1:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #eee;
} */